<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>space information</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="../public/styles.css"/>

<link rel="stylesheet" href="..\public\news.css">
<link rel="stylesheet" href="..\public\contact.css">
<link rel="stylesheet" href="..\public\about.css">
 <!-- <link rel="stylesheet" href="about.css"> -->

<link rel="stylesheet" href="..\public\lesson.css">

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="../public/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../public/font-awesome/css/font-awesome.min.css" />



<script type="text/javascript" src="../public/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../public/bootstrap/js/bootstrap.min.js"></script>

<style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
<!-- bootstrap -->

</head>
<body>
    <div class="bar"  ">
       
        <div class="dashboard">
           <a href="#dashboard"><h2>Dashboard</h2> </a>
        </div>
        <div class="news">
          <a href="#news"><h3>News and Updates</h3> </a>
        </div>

        <div class="lessons">
            <a href="#lessons" ><h3>Lessons</h3> </a>
        </div>
            
        <div class="contact">
          <a href="#contact"> <h3>Contact Us</h3> </a>
        </div>
        <div class="about">
           <a href="#about"> <h3>About Us</h3> </a>
        </div>
          
         
          <!-- <a href="#quiz"> <h3>Quiz</h3> </a> -->
        
      </div>

      <div class="carousel-container">
    <div class="carousel">
      <div class="image-container">
        <img src="https://images.homify.com/image/upload/a_0,c_fill,f_auto,h_900,q_auto,w_1920/v1464428850/p/photo/image/1526892/LPSC_1_1.jpg  " alt="Image 1" height="680px" width="1530px">
        <button class="prev-button">‹</button>
        <button class="next-button">›</button>
        <div class="image-overlay">
            <a href="https://www.isro.gov.in/" style="color: white;"> <h1>ISRO UPCOMING MISSIONS</h1></a>
          </div>
      </div>
      <div class="image-container">
        <img src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2023/03/esa_hq_mario_nikis/24762890-2-eng-GB/ESA_HQ_Mario_Nikis_pillars.jpg  " alt="Image 2" height="680px" width="1530px">
        <button class="prev-button">‹</button>
        <button class="next-button">›</button>
        <div class="image-overlay">
            <a href="https://earth.esa.int/eogateway" style="color: white;"> <h1 >UNITED STATE UPCOMING MISSIONS</h1> </a>
          </div>
      </div>
      <div class="image-container">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/55929740781267.578d33c65c9d6.jpg " alt="Image 3"  height="680px" width="1530px">
        <button class="prev-button">‹</button>
        <button class="next-button">›</button>
        <div class="image-overlay">
            <a href="https://www.iafastro.org/membership/all-members/roscosmos.html" style="color: white;"><h1>ROSCOSMOS UPCOMING MISSIONS</h1></a>
          </div>
      </div>

      <div class="image-container">
        <img src="https://media.gettyimages.com/id/79617159/photo/nasa-prepares-to-launch-space-shuttle-atlantis.jpg?s=2048x2048&w=gi&k=20&c=8Ll1G5wrFteTOOridBM-8jWA4lJWMTE0qVzNUxxavfs=" alt="Image 3"  height="680px" width="1530px">
        <button class="prev-button">‹</button>
        <button class="next-button">›</button>
        <div class="image-overlay">
            <a href="https://www.nasa.gov/" style="color: white;"><h1>NASA UPCOMING MISSIONS</h1></a>
          </div>
      </div>

      <div class="image-container">
        <img src="https://dongfanghour.com/wp-content/uploads/2021/09/ChinaSat-Tower-Outside-1024x576.png  " alt="Image 3"  height="680px" width="1530px">
        <!-- <a href=""><h1>HELLO</h1></a> -->
        <button class="prev-button">‹</button>
        <button class="next-button">›</button>
        <div class="image-overlay">
            <a href="https://www.cnsa.gov.cn/english/" style="color: white;">  <h1>CNSA UPCOMING MISSIONS</h1></a>
          </div>
      </div>
      <!-- Add more images as needed -->
    </div>
  </div>

   <!-- // news and updates -->
  <section id="news"  >
    <header>
      <h1 style=" height: 30px; margin-top: 5px;"> News &  Updates</h1>
  </header>
<div class="new-event-container">
  
  <div class="left-section">
     <!-- <a href="iss2.html" style="color: white;"> <h2 style="margin-top: 30px; font-size: 2.5rem;">Current location of ISS</h2></a>
      <img src="https://mars.nasa.gov/system/basic_html_elements/20_MEPMSRImg.jpg" alt="Space" style="max-height: 250px; max-width: 400px; margin: 40px 30px 20px 40px;">
      <p style="margin-left: 35px; font-size: 1.2rem;">
          Learn how Mars Sample Return would retrieve Mars samples collected by the Perseverance rover and bring them to Earth for study.
      </p> -->

      <h1>ISS Live Location</h1>

      <div id="map"></div>

  </div>

  <div class="middle-section">
      <h2 style="margin-top: 35px; "  style="color: white;">Latest News</h2>

      <div class="news-content">
          <h3><img src="https://mars.nasa.gov/system/news_items/list_view_images/9512_solarconjunction_placeholder.jpg" alt="New" style="max-height: 90px; max-width: 190px; margin-top: 20px;"   ></h3>
          <p>November 10, 2023<br/>
              NASA's Mars Fleet Will Still Conduct Science While Lying Low
          </p>

          <h3><img src="https://mars.nasa.gov/system/news_items/list_view_images/9508_PIA26047-320x240.jpg" alt="News 2" style="max-height: 90px; max-width: 190px;"></h3>
          <p>November 6, 2023 <br/>
              NASA's Curiosity Rover Clocks 4,000 Days on Mars
          </p>

          <h3><img src="https://mars.nasa.gov/system/news_items/list_view_images/9505_nasatempo-320.png" alt="News 3" style="max-height: 90px; max-width: 190px;"></h3>
          <p>October 27, 2023 <br/>
              NASA Technologies Receive Multiple Nods in TIME Inventions of 2023
          </p>
      </div>
  </div>

  <div class="right-section">
      <!-- <h2 style="margin-top: 35px;">Upcoming Events</h2>
      <p>September 23, 2022 - March 30, 2024 Rowan University</p>

      <div class="upcoming-events">
          <h4 style="color: blue;">Edelman Planetarium</h4>
          <hr/>
          <p>September 27, 2022 - August 29, 2024 Boston, MA</p>
          <h4 style="color: blue;">Museum of Science</h4>
          <hr/>
          <p>June 23, 2023 - June 24, 2024 St. Louis, MO</p>
          <h4 style="color: blue;">St. Louis Science Center</h4>
          <hr/>
          <a href="index.html">
              <h1>Know More About News and Updates</h1>
          </a>
      </div> -->

      <div class="scrolling-box">
          <div class="content">
              
  
              <header>
                  <h1>Information Space Station</h1>
              </header>
          
              <div id="news-container">
                  <h1 style="color: white;  margin-left: 30px;">Latest News</h1>
                  <ul id="news-list"></ul>
              </div>
  
  
  
          </div>
      </div>

  </div>
</div>

  </section>


<!-- lessons section -->





   <section id="lessons"   >

    <header>
      <h1>Lessons</h1>
  </header>
 

  <div id="lessons-container">
      <div id="left-section">
        <a href="/start"><h2>Play with Quiz</h2></a>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
      </div>
      <div id="right-section">
        <a href="/Uranus"><h2>Learn About Space</h2> </a>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
  </div>



  </section> 

 
<!-- // contact page -->

<section id="contact" class="contactsec">
  
  <h1>Contact Us</h1>

<main>
  <form action="/" method="post" >
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Submit</button>
  </form>
</main>
</section>

<!-- about us -->

<section id="about" class="aboutus" >



        <!-- bootstrap -->



        <div class="container">

          <div class="page-header">
              <h1 style="color: white;">About us</h1>
          </div>
          
          <!-- Team Cards Flipper - START -->
          
          <section id="team" class="pb-5">
              <div class="container">
                  <h5 class="section-title h1">OUR TEAM</h5>
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <div class="card">
                                          <div class="card-body text-center">
                                              <p>
                                                  <img class=" img-fluid" alt="Team Cards Flipper" src="../public/my_photo.jpg" /></p>
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <a href="#" class="btn btn-primary btn-sm">More</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="backside">
                                      <div class="card">
                                          <div class="card-body text-center mt-4">
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <ul class="list-inline">
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-facebook"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-twitter"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-skype"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-google"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <div class="card">
                                          <div class="card-body text-center">
                                              <p>
                                                  <img class=" img-fluid" alt="Team Cards Flipper" src="../public/my_gf.png" /></p>
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <a href="#" class="btn btn-primary btn-sm">More</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="backside">
                                      <div class="card">
                                          <div class="card-body text-center mt-4">
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <ul class="list-inline">
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-facebook"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-twitter"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-skype"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-google"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <div class="card">
                                          <div class="card-body text-center">
                                              <p>
                                                  <img class=" img-fluid" alt="Team Cards Flipper" src="../public/supriya.jpg" /></p>
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <a href="#" class="btn btn-primary btn-sm">More</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="backside">
                                      <div class="card">
                                          <div class="card-body text-center mt-4">
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <ul class="list-inline">
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-facebook"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-twitter"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-skype"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-google"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <div class="card">
                                          <div class="card-body text-center">
                                              <p>
                                                  <img class=" img-fluid" alt="Team Cards Flipper" src="http://prepbootstrap.com/Content/images/template/people/person6.jpg" /></p>
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <a href="#" class="btn btn-primary btn-sm">More</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="backside">
                                      <div class="card">
                                          <div class="card-body text-center mt-4">
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <ul class="list-inline">
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-facebook"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-twitter"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-skype"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-google"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <div class="card">
                                          <div class="card-body text-center">
                                              <p>
                                                  <img class=" img-fluid" alt="Team Cards Flipper" src="http://prepbootstrap.com/Content/images/template/people/person4.jpg" /></p>
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <a href="#" class="btn btn-primary btn-sm">More</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="backside">
                                      <div class="card">
                                          <div class="card-body text-center mt-4">
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <ul class="list-inline">
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-facebook"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-twitter"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-skype"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-google"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <div class="card">
                                          <div class="card-body text-center">
                                              <p>
                                                  <img class=" img-fluid" alt="Team Cards Flipper" src="http://prepbootstrap.com/Content/images/template/people/person5.jpg" /></p>
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <a href="#" class="btn btn-primary btn-sm">More</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="backside">
                                      <div class="card">
                                          <div class="card-body text-center mt-4">
                                              <h4 class="card-title">Web Developer</h4>
                                              <p class="card-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                              <ul class="list-inline">
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-facebook"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-twitter"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-skype"></i>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline-item">
                                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                                          <i class="fa fa-google"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section> -->
          
          
          </div>




</section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="../public/script.js"></script>
  <script src="../public/news.js"></script>
<script src="../public/iss2.js"></script>
    <script async defer
  src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
    
  </script>
</body>
</html>
